h1 Users

form(action="/users/search", method="GET")
	input(type="text", name="name", placeholder="Enter user name", id="userSearch")
	button Search

a(href="./create") Create new user

ul
	each user in users
		li= user.name
