html
	head
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="/stylesheets/effects.css")
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.d-flex.flex-row.justify-content-between.align-items-center
			.d-flex.flex-row
				a.navbar-brand(href='#') Ingenium
				.navbar-nav.d-flex.flex-row
					.nav-item.mr-2
						a.nav-link(href='/users') Users
					.nav-item.mr-2
						a.nav-link(href='/products') Products
					.nav-item.mr-2
						a.nav-link(href='/cart/view') Cart
					.nav-item.mr-2
						a.nav-link(href='/transfer/create') Transfer
			if user
				div(style={color: 'white'})= user.name
		br
		.container.pt-5
			block content
		
		script(src="/javascripts/products.js")